services:
db:
image: postgres:15
environment:
POSTGRES_USER: postgres
POSTGRES_PASSWORD: postgres
POSTGRES_DB: chatbot_db
volumes:
- postgres_data:/var/lib/postgresql/data
web:
build: 
  context: .
  dockerfile: Dockerfile
contanier_name: django_chatbot
command: gunicorn chatbot_project.wsgi:application --bind 0.0.0.0:8000
volumes:
- .:/code
ports:
- "8000:8000"
env_file: .env
depends_on:
- db

volumes:
postgres_data:
